/*
 * Font Properties
 */

@font-face{
	font-family: Typewriter;
	src: url(../fonts/SpecialElite.ttf);
}

/*
 * Generic attributes
 */
 
* {
	 margin: 0;
}
 
html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, img{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	background-color: #020202;
	overflow-x: hidden;
	font-size: 13pt;
	font-family: sans-serif;
}

img{
	width: 100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: Typewriter;
}

h1{
	font-size: 18pt;
	font-weight: bold;
}

/*
 * General sections
 */
 
#content{
	width: 80%;
	margin: auto;
	margin-bottom: 2em;
}

/*
 * Navbar
 */

#navbar{
	font-family: Typewriter;
	font-size: 14pt;
	text-align: center;
	background: #222222;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.7em;
	border: 1pt solid #3F3F3F;
	border-top: none;
	color: white;
}

#navbar a{
	color: white;
}

#navbar-right{
	margin-top: .2em;
}

/*
 * Footer
 */

#footer{
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: #222222;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	border-top: 1pt solid #3F3F3F;
}

/*
 * General Game Module Styling
 */

.module{
	display: none;
	overflow: auto;
	background-color: #FFFFFF;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1pt solid #3F3F3F;
}


/*
 * Main Module
 */
 
#main{

}

#map{
	position: relative;
	left: 5%;
	width: 90%;
	height: 48vw;
	border: 1px solid black;
	padding: 0;
	margin: 0;
}
